<div class="jumbotron vertical-center">
  <div class="container justify-content-center">
    <h1>Stripe</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Add Card</h2>
        <form novalidate (ngSubmit)="createToken()" [formGroup]="addCard">
          <div class="form-group" *ngIf="cardList.length == 0">
            <input class="form-control" type="text" formControlName="name" placeholder="Jane Doe">
          </div>
          <div class="form-group ">
            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
          </div>
          <div class="form-group button">
            <button type="submit">CREATE TOKEN</button></div>
        </form>
      </div>
      <div class="col-md-6">
        <div *ngIf="cardList.length > 0">
          <h2>Create Payment</h2>
          <form [formGroup]="createCharge">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <input class="form-control" type="number" formControlName="charges" placeholder="Enter Amount">
              </div>
            </div><br><br>
            <div *ngFor="let item of cardList; let i = index;">
              <div class="row">
                <div class="col-md-4 cardNumber">
                  {{ "**** **** "+ item.last4 || '?'}}
                </div>
                <div class="col-md-4 text-right"><button type="submit" (click)="removeCard(item.id)">Remove
                    Card</button>
                </div>
                <div class="col-md-4 text-right"><button type="submit"
                    (click)="makePayment(createCharge.get('charges').value, item.id)">Payment</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>